# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

#
data/temp_audio/*


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook files
.ipynb_checkpoints/

# dotenv environment variables file
*.env

# Pytest
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# IDEs and editors
.vscode/

# Cython debug symbols
cython_debug/

/data/hachette/ScreenTime/Screen Time - Lisa Guernsey_full_text_chapters
/data/hachette/Theory of teenagers/A New Theory of Teenagers_ Seven Transform - Christa Santangelo_full_text_chapters
/data/audio_output_*/
/data/output_speech_*